node_modules/
public/bower_components/

public/data/templates/

public/**/*.js
public/**/*.js.map

public/css/*.css

.vscode

server.js.map
server.js
dist/

config/*.js
config/*.js.map
config/local.json
public/data/api/
.users.htpasswd
public/data/images/
typings/
*.DS_Store
private/data/api/
private/data/images/
backup/
