$vws-donkerblauw-1: #01689b;
$vws-donkerpaars-1: #42145f;
$t2m-red: #ff4040;
$t2m-yellow: #ffcf40;
$t2m-yellow-disabled: #fff0c3;
$t2m-grey: lightgrey;
$t2m-hover-color: #fff0c2;
$t2m-success: #009900;
$rightpanel-width-full: 1480px;
$rightpanel-width-lg: 960px;
$rightpanel-width: 460px;
$wizard-bg-color: #f7f7f7;
$info-bg-color: #f2eeee;
$footer-bg-color: #757575;
$info-link-color: rgb(12, 96, 163);

@import 'styles/fonts';
@import 'styles/helpers';

body {
    font-family: "RO Sans";
    font-size: 18px;
}

/** hide csWeb features **/

.rightpanel-closebutton {
    display: none;
}

.btn-default {
    background-image: none;
}

/** T2M **/

.fill-height {
    height: 100%;
}

.t2m-logo-image {
    max-width: 100%;
    max-height: 172px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.33;
}

.row {
    margin: 0 0 0 0;
    overflow: hidden;
}

.rightpanel-tabs>.row {
    overflow: visible;
}

.big-button {
    margin: 8px 0;
    min-height: 64px;
    min-width: 164px;
}

.grey-border {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 0px;
}

.panel-border {
    border: 2px solid black;
    border-radius: 2px;
    padding: 4px;
    max-width: 360px;
}

.csv-settings {
    padding: 32px;
}

.csv-settings input {
    margin-right: 16px;
}

.csv-table-header {
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.csv-sort-hint {
    display: none;
}

.csv-sort-hint:hover {
    display: inline;
}

.pointer {
    cursor: pointer;
}

table.table.table-striped tr.st-selected td {
    background: cornflowerblue;
}

tr.st-selected,
th.st-selected,
td.st-selected {
    background: cornflowerblue;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.small-padding {
    padding: 4px;
}

.padding-right {
    padding-right: 8px;
}

.all-widget-content {
    position: relative;
}


.fixed-widget-footer {
    height: 60px;
}

.zodk-notification-box {
    background: #ededed;
    border: 1px solid #cccccc;
    font-size: 18px;
    padding: 14px 18px;
    margin: 10px 0px;
}

.zodk-notification-text {
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}

.zodk-notification-title {
    display: block;
    font-weight: bold;
}

.zodk-notification-description {
    display: block;
    white-space: pre-line;
}

.zodk-in-btn-text {
    float: left;
}

.text-danger {
    color: #d81c18;
}

.wizard-width-limit {
    max-width: 600px;
    margin-top: 20px;
}

.fa-question-circle {
    font-size: 16px;
    padding-left: 16px;
}

.file-upload-label {
    overflow: hidden;
    position: relative;
    width: 168px;
}

.file-upload-label [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.modal-backdrop.in {
    display: block;
}

.pagination {
    margin: 4px 0;
}

.scrollable-xy-table {
    height: 80%;
    width: 100%;
    overflow: auto;
}

.modal-dialog {
    height: 100%;
    padding-bottom: 50px;
}

.modal-header {
    height: 60px;
    border: none;
}

.modal-content {
    height: 100%;
    border-radius: 0px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal-footer {
    border-top: none;
    padding: 0px 0px 0px 15px;
}


.modal-footer button {
    margin-right: 10px;

}

.modal {
    overflow-y: hidden!important;
}

#featureprops-content {
    background-color: white;
}



.inline-select {
    display: inline-block;
    max-width: 360px;
}

#previewMap {
    height: 400px;
}

#iconImage {
    width: 100%;
    height: 100%;
    max-width: 48px;
    min-width: 48px;
}

.border-bottom {
    border-bottom: 1px solid grey;
}

.leaflet-control-zoom-display {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 0.3em;
    font: bold 12px/20px Tahoma, Verdana, sans-serif;
}

.swap-arrows {
    height: 20px;
    width: 20px;
    padding: 8px 4px 0px 4px;
}

.bold {
    font-weight: bold;
}

.callout-icon {
    height: 32px;
    width: 32px;
}

.rightpanel-content {
    height: 100%;
}

.tab-pane {
    width: 100%;
}

.full-width {
    width: 100%;
}

.form-header {
    margin: 0 0 12px 0 !important;
}

.form-group {
    margin-bottom: 15px;
}

.larger-font {
    font-size: 110%;
}


.manage-title {
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0px;
}

.form-horizontal .form-group>label {
    text-align: right;
}

#designSettings div {
}

#designSettings input {
    width: 92px;
}

#iconDimensions>.row {
    margin-bottom: 0px;
}

a.disabled {
    cursor: not-allowed!important;
}

.sp-preview {
    height: 36px;
    width: 48px;
}

.small-padding-left {
    padding-left: 6px;
}

h4 {
    color: rgb(57, 84, 96);
    font-weight: bold;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

label {
    color: black;
    font-size: 18px;
    padding: 1px;
    margin: 8px 0px;
}

.label-text {
    color: black!important;
    font-size: 18px;
    padding: 1px;
}

.zodk-next-step {
    color: white;
    font-size: 24px;
    background: $footer-bg-color;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input.form-control, select.form-control, span.form-control {
    font-size: 18px;
    height: 52px;
    border-radius: 0px;
    padding: 8px 14px;
}

span.ui-select-toggle {
    padding-top: 12px;
}

span.form-control.ui-select-toggle, input.form-control.ui-select-search {
    margin: 0px;
}

a[aria-expanded=true] .fa-chevron-down {
    display: none;
}

a[aria-expanded=false] .fa-chevron-up {
    display: none;
}

.property-edit-pencil {
    position: absolute;
    font-size: 130%;
    top: 8px;
    right: -8px;
}

input.ng-invalid.ng-touched {
    border-color: rgba(255, 127, 127, 0.75);
}

div.ng-invalid.ng-touched {
    border: 2px solid rgba(255, 127, 127, 0.75);
}

.project-table {
}

.project-table td {
    padding: 10px;
}

.project-table th {
    padding: 8px;
}

.project-table.table-hover>tbody>tr:hover {
    background-color: $t2m-hover-color;
}

.scrolling {
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 0;
}

.list-group-group {
    padding: 8px;
}

.list-group-group-title {
    padding: 8px;
}

#st-datatable td {
    white-space: nowrap;
}

a:hover {
    cursor: pointer;
}

@media(min-width: 1200px) {
    .modal-lg {
        width: 1160px;
    }
}

.title-row > div {
    font-size: smaller;
    font-weight: bold;
}

.manage-modal-content .row {
    margin: 0 0 10px 0;
}

h4 {
    color: black;
}

.panel-border {
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 0px;
}



.confirmation-popover {
    display: inline-block;
    position: relative;
}

.popover {
    max-width: 320px;
    width: 100%;
}


.ui-pnotify-container {
    background: $t2m-yellow!important;
}

.create-project[disabled] {
    cursor: not-allowed!important;
    background-color: #dff0d8!important;
    color: grey;
}

.mca-criterion {
    width: 240px;
}

@import 'styles/rightpanel';
@import 'styles/icons';
@import 'styles/legend';
@import 'styles/floatnav';
@import 'styles/map';
@import 'styles/profile';
@import 'styles/progress';
@import 'styles/checkbox';
@import 'styles/datatable';
@import 'styles/wizard';

 /*Force MCA*/
#mca {
    display: inherit !important;
}

 /*Force project overzicht*/
 #overzicht {
    display: inherit !important;
}

 /*Force wizard*/
 #wizard {
    display: inherit !important;
}

#widget-zodkwizard-parent {
    height: 100%;
}

#zodkrightpanel-content {
    height: 100%;
}

.small-margin-top {
    margin-top: 16px;
}