.fill-height {
    height: 100%;
}

.row {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.rightpanel-tabs > .row {
    overflow: visible;
}

.row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

h4 {
    margin-top: 24px;
}

 .big-button{
     margin: 8px 0;
     min-height: 64px;
     min-width: 164px;
 }