$vws-donkerblauw-1: #01689b;
$vws-donkerpaars-1: #42145f;
$t2m-yellow: #ffcf40;
$rightpanel-width: 460px;
$info-bg-color: #f2eeee;
$info-link-color: rgb(12, 96, 163);

@import 'styles/fonts';
@import 'styles/helpers';

body {
    font-family: "RO Sans";
    font-size: 18px;
}

/** hide csWeb features **/

.rightpanel-closebutton {
    display: none;
}


/** T2M **/

.fill-height {
    height: 100%;
}

.t2m-logo-image {
    max-width: 100%;
    max-height: 72px;
}

.btn-transparent {
    background-color: transparent;
    border-color: #ddd;
    padding: 2px 12px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.33;
}

.row {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.rightpanel-tabs>.row {
    overflow: visible;
}

.big-button {
    margin: 8px 0;
    min-height: 64px;
    min-width: 164px;
}

.grey-border {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.panel-border {
    border: 2px solid black;
    border-radius: 2px;
    padding: 4px;
    max-width: 360px;
}

.csv-settings {
    padding: 32px;
}

.csv-settings input {
    margin-right: 16px;
}

.csv-table-header {
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.csv-sort-hint {
    display: none;
}

.csv-sort-hint:hover {
    display: inline;
}

.pointer {
    cursor: pointer;
}

table.table.table-striped tr.st-selected td {
    background: cornflowerblue;
}

tr.st-selected,
th.st-selected,
td.st-selected {
    background: cornflowerblue;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.small-padding {
    padding: 4px;
}

.all-widget-content {
    position: relative;
}

.fixed-widget-header {
    height: 70px;
}

.fixed-widget-footer {
    height: 10px;
}

.scrollable-widget-content {
    overflow: auto;
}

.fa-question-circle {
    font-size: 16px;
    padding-left: 16px;
}

.file-upload-label {
    overflow: hidden;
    position: relative;
}

.file-upload-label [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.modal-backdrop.in {
    display: block;
}

.pagination {
    margin: 4px 0;
}

.scrollable-xy-table {
    height: 80%;
    width: 100%;
    overflow: auto;
}

.modal-dialog {
    height: 100%;
    padding-bottom: 50px;
}

.modal-header {
    height: 10%;
}

.modal-content {
    height: 100%;
}

.modal-footer {
    height: 10%;
}

.modal {
    overflow-y: hidden!important;
}

.inline-select {
    display: inline-block;
    max-width: 360px;
}

#previewMap {
    height: 400px;
}

#iconImage {
    width: 100%;
    height: 100%;
    max-width: 30px;
    min-width: 30px;
}

.leaflet-control-zoom-display {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 0.3em;
    font: bold 12px/20px Tahoma, Verdana, sans-serif;
}

.swap-arrows {
    height: 20px;
    width: 20px;
    padding: 8px 4px 0px 4px;
}

.bold {
    font-weight: bold;
}

.callout-icon {
    height: 32px;
    width: 32px;
}

.rightpanel-content {
    height: 100%;
}

.tab-pane {
    width: 100%;
}

.full-width {
    width: 100%;
}

.form-header {
    margin: 0 0 12px 0 !important;
}

.form-group {
    margin-bottom: 15px;
}

.larger-font {
    font-size: 110%;
}

.form-horizontal .form-group>label {
    text-align: right;
}

#style-settings-section div {
    text-align: right;
}

#style-settings-section input {
    width: 72px;
}

.small-padding-left {
    padding-left: 6px;
}

h4 {
    color: rgb(57, 84, 96);
    font-style: bold;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

label {
    color: rgb(57, 84, 96);
    font-size: 13px;
}

a[aria-expanded=true] .fa-chevron-down {
    display: none;
}

a[aria-expanded=false] .fa-chevron-up {
    display: none;
}

.property-edit-pencil {
    position: absolute;
    font-size: 130%;
    top: 8px;
    right: -8px;
}

input.ng-invalid.ng-touched {
    border-color: rgba(255, 127, 127, 0.75);
}

div.ng-invalid.ng-touched {
    border: 2px solid rgba(255, 127, 127, 0.75);
}

.project-table {
}

.project-table td {
    padding: 10px;
}

.project-table th {
    padding: 8px;
}

.project-table.table-hover>tbody>tr:hover {
    background-color: #acf
}

.scrolling {
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 0;
}

.list-group-group {
    padding: 8px;
}

.list-group-group-title {
    padding: 8px;
}

#st-datatable td {
    white-space: nowrap;
}

a:hover {
    cursor: pointer;
}

.t2m-btn {
    border-radius: 0px;
    background-color: #aad8fe;
    background-image: none!important;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.t2m-btn.green {
    background-color: #dff0d8;
}

.t2m-btn.red {
    background-color: #fecbbb;
}

.t2m-btn-icon {
    padding: 4px 8px;
    font-size: 110%;
}

.confirmation-popover {
    display: inline-block;
    position: relative;
}

.popover {
    max-width: 320px;
    width: 100%;
}

.t2m-btn:hover {
    outline: 2px #bbbbbb solid;
}

.ui-pnotify-container {
    background: #fff296!important;
}

.create-project[disabled] {
    cursor: not-allowed!important;
    background-color: #dff0d8!important;
    color: grey;
}

.mca-criterion {
    width: 240px;
}

@import 'styles/icons';
@import 'styles/legend';
@import 'styles/floatnav';
@import 'styles/map';
@import 'styles/rightpanel';
@import 'styles/profile';

 /*Force MCA*/
#mca {
    display: inherit !important;
}
