@font-face {
    font-family: "RO Sans";
    src: url('fonts/ROsanswebtextregular.woff') format('woff');
}

@font-face {
    font-family: "RO Sans";
    font-style: italic;
    src: url('fonts/ROsanswebtextitalic.woff') format('woff');
}

@font-face {
    font-family: "RO Sans";
    font-weight: bold;
    src: url('fonts/ROsanswebtextbold.woff') format('woff');
}
