$icomoon-font-path: "fonts" !default;

$icon-filter: \e900;
$icon-sluit: \e901;
$icon-uniE902: \e902;
$icon-hint: \e903;
$icon-kaartlagen: \e904;
$icon-marker: \e905;
$icon-zoom_in: \e906;
$icon-zoom_out: \e907;
$icon-downloaden: \e909;
$icon-donut: \e908;
$icon-donut_2: \e90a;
$icon-download-csv: \e90b;
$icon-download-geojson: \e90c;
$icon-downloadpdf: \e90d;
$icon-hulp: \e90e;
$icon-info: \e90f;
$icon-kaart: \e910;
$icon-legenda: \e911;
$icon-uniE912: \e912;
$icon-uniE913: \e913;
$icon-pijl_nav_links: \e914;
$icon-pdf: \e915;
$icon-pijl_nav_rechts: \e916;
$icon-printer: \e917;
$icon-refresh: \e918;
$icon-ster: \e919;
$icon-ster-vol: \e91a;
$icon-woning: \e91b;
$icon-hulp_vraag: \e91c;

@font-face {
  font-family: 'csWeb';
  src:  url('#{$icomoon-font-path}/csWeb.eot?2qxslc');
  src:  url('#{$icomoon-font-path}/csWeb.eot?2qxslc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/csWeb.ttf?2qxslc') format('truetype'),
    url('#{$icomoon-font-path}/csWeb.woff?2qxslc') format('woff'),
    url('#{$icomoon-font-path}/csWeb.svg?2qxslc#csWeb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'csWeb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-filter {
  &:before {
    content: unicode($icon-filter);
  }
}
.icon-sluit {
  &:before {
    content: unicode($icon-sluit);
  }
}
.icon-uniE902 {
  &:before {
    content: unicode($icon-uniE902);
  }
}
.icon-hint {
  &:before {
    content: unicode($icon-hint);
  }
}
.icon-kaartlagen {
  &:before {
    content: unicode($icon-kaartlagen);
  }
}
.icon-marker {
  &:before {
    content: unicode($icon-marker);
  }
}
.icon-zoom_in {
  &:before {
    content: unicode($icon-zoom_in);
  }
}
.icon-zoom_out {
  &:before {
    content: unicode($icon-zoom_out);
  }
}
.icon-downloaden {
  &:before {
    content: unicode($icon-downloaden);
  }
}
.icon-donut {
  &:before {
    content: unicode($icon-donut);
  }
}
.icon-donut_2 {
  &:before {
    content: unicode($icon-donut_2);
  }
}
.icon-download-csv {
  &:before {
    content: unicode($icon-download-csv);
  }
}
.icon-download-geojson {
  &:before {
    content: unicode($icon-download-geojson);
  }
}
.icon-downloadpdf {
  &:before {
    content: unicode($icon-downloadpdf);
  }
}
.icon-hulp {
  &:before {
    content: unicode($icon-hulp);
  }
}
.icon-info {
  &:before {
    content: unicode($icon-info);
  }
}
.icon-kaart {
  &:before {
    content: unicode($icon-kaart);
  }
}
.icon-legenda {
  &:before {
    content: unicode($icon-legenda);
  }
}
.icon-uniE912 {
  &:before {
    content: unicode($icon-uniE912);
  }
}
.icon-uniE913 {
  &:before {
    content: unicode($icon-uniE913);
  }
}
.icon-pijl_nav_links {
  &:before {
    content: unicode($icon-pijl_nav_links);
  }
}
.icon-pdf {
  &:before {
    content: unicode($icon-pdf);
  }
}
.icon-pijl_nav_rechts {
  &:before {
    content: unicode($icon-pijl_nav_rechts);
  }
}
.icon-printer {
  &:before {
    content: unicode($icon-printer);
  }
}
.icon-refresh {
  &:before {
    content: unicode($icon-refresh);
  }
}
.icon-ster {
  &:before {
    content: unicode($icon-ster);
  }
}
.icon-ster-vol {
  &:before {
    content: unicode($icon-ster-vol);
  }
}
.icon-woning {
  &:before {
    content: unicode($icon-woning);
  }
}
.icon-hulp_vraag {
  &:before {
    content: unicode($icon-hulp_vraag);
  }
}

