#widget-zodklegend-parent {
    position: absolute;
    z-index: 400;
    bottom: 100px;
    width: 300px;
    left: 20px;
}

#widget-zodklegend-parent .legendbar {
    padding-top: 10px;
    margin-bottom: 8px;
}

#widget-zodklegend-parent .legend-box {
    padding: 10px 15px 10px 15px;
}

#widget-zodklegend-parent .title {
    font-size: 20px;
    font-weight: bold;
}

#widget-zodklegend-parent .subtitle {
    font-style: italic;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#widget-zodklegend-parent .legendTile {
    display: inline-block;
    width: 50px;
}

#widget-zodklegend-parent .legendTile img.media-object {
    width: 42px;
}

#widget-zodklegend-parent .description-label {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    line-height: 50px;
    font-size: 14px;
    padding-left: 10px;
    height: 50px;
}

#widget-zodklegend-parent .legend-keys {
    height: 40px;
}

#widget-zodklegend-parent .legend-color {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#widget-zodklegend-parent .legend-label {
    font-size: 13px;
    width: 200px;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}

#widget-zodklegend-parent .legend-key-4 {
    padding-left: 45px;
    height: 20px;
}

#widget-zodklegend-parent .legend-key-0 .legend-color {
    border-top: 1px solid #ccc;
}

#widget-zodklegend-parent .legend-key-3 .legend-color {
    border-bottom: 1px solid #ccc;
}
