/** Map title **/
#title-container {
    z-index: 10;
    position: relative;
}

#title-container h2.map-title {
    font-size: 38px;
    font-weight: normal;
    background-color: transparent;
    float: left;
    margin: 40px 0px 0px 20px;
    color: black;
    cursor: default;
}

#title-container img.title-logo {
    height: 40px;
    padding: 0px 10px 0px 0px;
}

/** Tooltips **/
.tooltip-holder {
    font-family: "RO Sans";
    font-style: normal;
    padding: 15px;
    width: 260px;
    background-color: white;
    font-size: 18px;
    @include box-shadow(0px, 0px, 12px, rgba(0, 0, 0, .3));
}

.tooltip-holder div.title {
    text-align: left;
    font-family: "RO Sans";
    font-weight: bold;
    line-height: 19px;
}

.tooltip-holder div.content {
    border-top: solid 1px #ccc;
    margin-top: 5px;
}

.csweb-tooltip-value {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    width: 100px;
}

.csweb-tooltip-label-entry {
    display: inline-block;
    font-size: 14px;
    width: 130px;
}
