#widget-zodkoverzicht-parent, #widget-zodkwizard-parent {
  font-family: "Franklin";
  font-size: 18px;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  right: 20px;
}

.caret {
  border-top: 7px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.help_icon {
  color: $t2m-yellow;
  padding-left: 10px;
  vertical-align: middle;
  font-size: 18px;
}

.text-success {
  color: $t2m-success;
}

.text-info {
  color: $t2m-info;
}

.text-danger {
 color: $t2m-danger;
}

.t2m-btn {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    background-color: #aad8fe;
    background-image: none!important;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.t2m-btn-sm {
    font-size: 16px;
    height: 32px;
    min-width: 72px;
    padding: 6px;
}

.t2m-btn-lg {
    height: 48px;
    min-width: 128px;
    padding: 12px;
}

.t2m-btn-square {
    height: 48px;
    width: 48px;
    padding: 12px;
}

.t2m-btn-height {
    height: 48px;
    line-height: 48px;
}

.t2m-btn.yellow, .yellow {
    background-color: $t2m-yellow;
}

.t2m-btn.red {
    background-color: $t2m-red;
}

.t2m-btn.grey {
    background-color: $t2m-grey;
}

.t2m-btn.green {
    background-color: #dff0d8;
}

.t2m-btn.red {
    background-color: #fecbbb;
}

.t2m-btn-icon {
    padding: 4px 8px;
    font-size: 110%;
}

.t2m-div-btn-style {
    height: 48px;
    padding: 12px;
    margin: 2px 8px 2px 2px;
    background: lightgrey;
}

.t2m-btn:hover {
    /*outline: 2px #bbbbbb solid;*/
}

.t2m-btn-inline {
  display: inline-block;
  padding: 8px 15px;
}

input#create-project-title {
    line-height: 1.9;
    min-width: 300px;
    font-size: 20px;
    padding-left: 10px;
}


.fixed-widget-header {
  height: 48px;
  border-bottom: solid 1px #ccc;
}

.wizard-title {
  font-size: 24px;
  font-weight: bold;
  display: inline;
}

#progress-content {
  padding-left: 0px;
  margin-top: 25px;
}

#wizard-content {
  padding-right: 0px;
}

.scrollable-widget-content {
    overflow: auto;
    background: $wizard-bg-color;
}


.zodk-next-step {
    font-size: 24px;
    background: $footer-bg-color;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}


.next-button {
    padding: 5px 20px;
    background-color: $t2m-yellow;
}


/**
  Step 3 upload
*/

#drop-box {
  font-size: 12px;
}


/**
  Modal
*/


.modal {
    overflow-y: hidden!important;
}

.modal-body {
  padding: 0px;
  font-family: "Franklin";
  font-size: 18px;
}

.modal-lg {
    width: 95%;
    height: 100%;
    padding-bottom: 50px;
}

.modal-content {
    height: 100%;
    border-radius: 0px;
    padding: 30px;
}

.modal-header {
    padding: 0px 0px 15px 0px;
    border: none;
}

.modal-header span.t2mclose {
    float: right;
    font-size: 2rem;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.modal-footer {
    border-top: none;
    padding: 0px 0px 0px 0px;
    text-transform: capitalize;
}

.modal-footer .btn+.btn {
    margin-left: 15px;
}

.scrollable-xy-table {
    height: 90%;
    width: 100%;
    overflow: auto;
    margin-bottom: 15px;
}

/**
  Choose layer modal
*/

#chooseLayer div.header {
  font-size: 14px;
  padding: 5px 20px;
}

#chooseLayer div.group {
  background-color: $t2m-lightgrey;
  padding: 0px 20px 10px 20px;
  margin-bottom: 20px;
}

#chooseLayer div.group .title {
  font-weight: bold;
  padding: 6px 0px;
}

#chooseLayer div.group .layer {
  border-bottom: 1px solid lightgrey;
}

#chooseLayer div.group .t2m-btn.lightgrey {
  text-align: center;
  font-weight: normal;
  padding: 6px 0px;
  background-color: $t2m-lightgrey;
}

#chooseLayer div.group  .t2m-btn.yellow {
 background-color: $t2m-yellow;
}

#chooseLayer div.group .t2m-btn.lightgrey.layertitle {
  text-align: left;
}

#chooseLayer .addlayer {
  margin-top: 10px;
}

#chooseLayer div.group span {
  font-size: 20px;
}

/**
  confirmation-popover
**/

.confirmation-popover {
  display: inline-block;
  position: relative;
}

.popover {
  max-width: 320px;
  width: 100%;
}

.confirmation-popover .btn-group {
  padding: 15px 0px 5px 0px;
}

.confirmation-popover .t2m-btn {
  margin-right: 10px;
}
