<div class="modal-header">
    <h4 class="modal-title">{{'EDIT_LAYER' | translate}}<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'EDIT_LAYER_HELP' | translate}}" tooltip-placement="bottom"></i></span></h4>
</div>
<div class="modal-body">
    <h4>{{vm.project.title}}</h4>
    <div class="list-group list-group-group">
        <div class="list-group-item-heading" ng-repeat="group in vm.project.groups">
            <div class="list-group-group-title bold">{{group.title}}</div>
            <div class="list-group">
                <button type="button" class="list-group-item" ng-repeat="layer in group.layers" ng-click="vm.selectLayer(layer.id, false)"
                    ng-class="{'active': vm.activeId == layer.id}">
                    {{layer.title}}
                    <span style="float: right;padding-right: 16px;"><i class="fa fa-pencil pointer" ng-click="vm.selectLayer(layer.id, true)"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{'CLOSE' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="vm.ok()" style="text-transform:capitalize;" ng-disabled="!vm.activeId">{{'SELECT' | translate}}</button>
</div>