<div class="modal-header">
    <h4 class="modal-title">{{'CREATE_NEW_PROJECT' | translate}}<span class="icon-sluit t2mclose" ng-click="vm.cancel()"></span></h4>
</div>
<div class="modal-body">
    <form name="createProjectForm" class="form">
        <div class="form-group">
            <!-- <label for="create-project-title">{{'TITLE' | translate}}: </label> -->
            <input id="create-project-title" type="text" placeholder="Titel van het project" ng-model="vm.title" ng-change="vm.inputChanged()" required/>
     </form>
</div>

<div class="zodk-notification-box text-success" ng-show="vm.idStatus==='ok'" >
    <i class="fa fa-check"></i> {{'VALID_INPUT' | translate}}
</div>

<div class="zodk-notification-box text-danger" ng-show="!createProjectForm.$pristine&&vm.idStatus==='invalid'" >
    {{'INVALID_INPUT' | translate}}
</div>

<div class="zodk-notification-box text-info" ng-show="vm.idStatus==='checking'" >
    <i class="fa fa-check"></i> {{'CHECKING' | translate}}
</div>

<br>
<div class="modal-footer">
    <button type="button" class="btn t2m-btn t2m-btn-lg grey pull-left" ng-click="vm.cancel()">{{'CANCEL' | translate}}</button>
    <button type="button" class="btn t2m-btn t2m-btn-lg yellow pull-left" ng-click="vm.ok()" style="text-transform:capitalize;" ng-disabled="vm.idStatus!=='ok'">{{'CREATE_BUTTON' | translate}}</button>
</div>
