<div class="modal-header">
    <h4 class="modal-title">{{'CSV_PARSE_SETTINGS' | translate}}
        <span class="icon-ic_help_outline_black pointer" aria-hidden="true" uib-tooltip="{{'CSV_PARSE_SETTINGS_HELP' | translate}}" tooltip-placement="bottom"></span>
        <span class="icon-sluit t2mclose" ng-click="vm.cancel()"></span></h4>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <label for="hasHeader">{{'HAS_HEADER' | translate}}: </label>
            <input id="hasHeader" type="checkbox" ng-model="csvParseSettings.hasHeader" />
        </div>
        <div class="form-group">
            <label for="delimiter">{{'DELIMITER' | translate}}: </label>
            <select class="form-control" id="delimiter" ng-options="name for (name, character) in delimiters" ng-model="csvParseSettings.delimiter"
            />
        </div>
        <div class="form-group">
            <label for="decimalChar">{{'DECIMAL_CHARACTER' | translate}}: </label>
            <select class="form-control" id="decimalChar" ng-options="name for (name, character) in decimalCharacters" ng-model="csvParseSettings.decimalCharacter"
            />
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="t2m-btn yellow t2m-btn-inline" ng-click="vm.ok()">{{'SAVE' | translate}}</div>
</div>
