<div style="padding: 22px 72px;overflow: auto; height:100%">
    <div class="header-title">{{'PROJECTS_LIST' | translate}}</div>
    <div style="margin: 22px 72px;">
        <table class="project-table table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">{{'TITLE' | translate}}</th>
                    <th class="text-center">{{'CAN_EDIT' | translate}}</th>
                    <th class="text-center">{{'CAN_VIEW' | translate}}</th>
                    <th class="text-center">{{'MANAGE_RIGHTS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pointer success text-center" colspan="4" ng-click="vm.createProject()">
                        {{'CREATE_NEW_PROJECT' | translate}}
                        <span><i class="fa fa-plus"></i></span>
                    </td>
                </tr>
                <tr ng-repeat="project in vm.projects">
                    <td>{{project.title}}</td>
                    <td class="text-center"><i class="fa fa-pencil pointer" ng-click="vm.editProject(project)" ng-show="project.title.length < 14"></i></td>
                    <td class="text-center"><i class="fa fa-eye pointer" ng-click="vm.showProject(project)" ></i></td>
                    <td class="text-center"><i class="fa fa-cog pointer" ng-click="vm.manageProjectRights(project)" ></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>