<div data-ng-cloak class="rightpanel-content panel-border info" id="featureprops-content">
    <div ng-show="true" class="header">
        <div class="title">
            {{vm.propertyTable.title}}
        </div>
        <div class="subtitle" ng-show="false">
            Op kaartlaag {{vm.propertyTable.layerTitle}}
        </div>
        <div class="dataexport" ng-click="vm.openTable()" ng-show="false">
            <span class="icon-downloaden"></span>
            <span class="link">Data weergave en download</span>
        </div>
    </div>
    <div ng-show="true" class="ptable">
        <div class="row">
            <div class="row" ng-repeat="section in vm.propertyTable.sections track by $index">
                <div data-toggle="collapse" data-target="#collapse-{{$index}}">
                    <div class="title">{{section.title? section.title : 'Gegevens'}}
                        <span class="fa fa-caret-up"></span>
                        <span class="fa fa-caret-down"></span>
                    </div>
                </div>
                <div ng-show="section.type==='table'" class="row collapse in" id="collapse-{{$index}}">
                    <div class="row table" ng-repeat="row in section.rows">
                        <div ng-show="row.type !== 'textarea'">
                            <div class="col-xs-8">
                                <div ng-if="true">
                                    <a ng-click="vm.editProperty(row.coProperty)" ng-class="{'active-style': row.coProperty.feature._gui['style'][row.coProperty.property]}"
                                        uib-popover="{{(row.description) ? row.description : ''}}" popover-placement="left" popover-trigger="'mouseenter'">{{row.title}}</a>
                                </div>
                            </div>
                            <div ng-show="row.values.length===1" class="col-xs-4 value" data-ng-bind-html="row.values[0] | trusted"></div>
                            <div ng-show="row.values.length===2" class="col-xs-2 value" data-ng-bind-html="row.values[0] | trusted"></div>
                            <div ng-show="row.values.length===2" class="col-xs-2 value" data-ng-bind-html="row.values[1] | trusted"></div>
                        </div>
                        <div ng-show="row.type === 'textarea'">
                            <div>{{row.title}}:</div>
                            <div ng-repeat="val in row.values track by $index" data-ng-bind-html="val | trusted"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="section.type==='full-row'">
                    <div class="row" ng-repeat="row in section.rows">
                        <div>
                            <div class="col-xs-12" data-ng-bind-html="row.values[0] | trusted"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>