<div class="all-widget-content fill-height">
    <div class="fixed-widget-header">
        <div style="display: inline-block; margin-left: 2px;" ng-hide="data.hideTitle">
            <div style="display: inline-block; font-size:16px; font-weight:bold; margin-bottom:2px;">{{data.title}}</div>
            <div style="display: inline-block; margin-right:5px; position: absolute; top: 2px; right: 0px;">
                <a class="widget-min-max-close" ng-click="vm.close()" ng-if="vm.canClose()"><i class="fa fa-times"></i></a>
                <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="vm.canMinimize() && minimized"> <i class="fa fa-plus"></i></a>
                <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="vm.canMinimize() && !minimized"> <i class="fa fa-minus"></i></a>
                <a class="widget-min-max-close" ng-click="vm.exportToPDF()"><i class="fa fa-save" uib-tooltip="{{'SAVE_AS_PDF' | translate}}" tooltip-trigger="mouseenter" ng-show="vm.exporterAvailable&&!minimized"></i></a>
            </div>
        </div>
        <div class="row text-center no-margin">
            <ul uib-pagination ng-model="currentStep" total-items="numberOfSteps" items-per-page="1" previous-text="{{'PREVIOUS' | translate}}"
                next-text="{{'NEXT' | translate}}"></ul>
            <ul ng-show="vm.rowCollection.length > 0" class="pagination pointer" aria-hidden="true" uib-tooltip="{{'SHOW_TABLE' | translate}}"
                tooltip-placement="bottom" style="margin-left: 32px;">
                <li>
                    <a class="fa fa-table" style="text-transform: uppercase;" ng-click="vm.openTable('none', 0)">&nbsp;&nbsp;{{'TABLE_LABEL' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="scrollable-widget-content" style="padding:0px;font-size:12px;margin:0px;" ng-hide="minimized" resize resize-y="150">
        <!-- UPLOAD-PAGE -->
        <div class="row" ng-show="currentStep === 1">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 fill-height">
                    <h3>{{'UPLOAD_TABULAR_DATA' | translate}}<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'UPLOAD_HELP' | translate}}"></i></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 fill-height">
                    <textarea rows="12" class="fill-height" id="drop-box" style="width:95%;margin-top: 24px" placeholder="{{'DROP_HERE' | translate}}"
                        ng-model="vm.textContent"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 fill-height">
                    <label class="file-upload-label btn btn-primary" for="file-upload"><i class="fa fa-upload small-padding" aria-hidden="true"></i><span>{{ 'UPLOAD_FILE' | translate}}</span>
                        <input type="file" id="file-upload" style="margin-top:8px" />
                    </label>
                    <i class="fa fa-cog btn small-padding pointer" style="padding-left: 24px;" aria-hidden="true" uib-tooltip="{{'CSV_PARSE_SETTINGS' | translate}}"
                        ng-click="vm.openParseSettings()"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 fill-height text-center">
                    <input class="btn big-button" type="button" value="{{'NEXT' | translate}}" ng-click="vm.convertData()" ng-disabled="!vm.textContent"
                    />
                </div>
            </div>
        </div>
        <!-- STYLE PAGE -->
        <div class="row" ng-show="currentStep === 2">
            <div class="col-sm-6">
                <div class="row">
                    <h5>{{'STYLE_SETTINGS' | translate}}<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'STYLE_SETTINGS_HELP' | translate}}"></i></span></h5>
                </div>
                <form>
                    <div class="grey-border">
                        <div class="form-group">
                            <label for="geo-type">{{'GEOMETRY_TYPE' | translate}}</label>
                            <select class="form-control inline-select" if="geo-type" ng-change="vm.selectGeoType()" ng-model="vm.featureType.name" ng-options="id as type.name for (id, type) in geometryTypes"></select>
                        </div>
                        <div class="form-group">
                            <label for="geo-col">{{'SELECT_GEOMETRY_COLUMNS' | translate}}</label>
                            <button if="geo-col" class="btn small-margin" ng-click="vm.openTable()"><i class="fa fa-table small-padding"></i><span>{{'CHOOSE_DROPDOWN' | translate}}</span></button>
                            <span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'SELECT_GEOMETRY_COLUMNS_HELP' | translate}}"></i></span>
                            <table ng-show="'Object.keys(vm.geometryColumns).length > 0'">
                                <tbody>
                                    <tr class="row no-margin" ng-repeat="(geoInputTitle, headerObj) in vm.geometryColumns">
                                        <td class="small-padding bold">{{geoInputTitle}}</td>
                                        <td class="small-padding">{{headerObj.title}}</td>
                                        <td class="small-padding">({{'COLUMN' | translate}} {{headerObj.code}})</td>
                                        <td ng-hide="$last" class="pointer" ng-click="vm.swapRows($index)" uib-tooltip="{{'SWAP_ROWS' | translate}}"><img class="swap-arrows" src="images/swap-arrows.png" /> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-hide="'Object.keys(vm.geometryColumns).length > 0'">{{'SELECT_GEOMETRY_COLUMNS_HINT' | translate}}</div>
                        </div>
                        <div class="form-group">
                            <label for="namelabel-col">{{'SELECT_NAMELABEL_COLUMN' | translate}}</label>
                            <button if="namelabel-col" class="btn small-margin" ng-click="vm.openTable('col', 1, true)"><i class="fa fa-table small-padding"></i><span>{{'CHOOSE_DROPDOWN' | translate}}</span></button>
                            <span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'SELECT_NAMELABEL_COLUMN_HELP' | translate}}"></i></span>
                            <table ng-show="vm.featureType.style.nameLabel">
                                <tbody>
                                    <tr class="row no-margin">
                                        <td class="small-padding">{{vm.getColumnTitle(vm.featureType.style.nameLabel)}}</td>
                                        <td class="small-padding">({{'COLUMN' | translate}} {{vm.featureType.style.nameLabel}})</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="grey-border" style="margin: 6px 0 0 0;">
                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <label for="f-icon">{{'ICON_IMAGE' | translate}}</label>
                                <button id="f-icon" class="file-upload-label btn" for="icon-upload"><i class="fa fa-picture-o small-padding" aria-hidden="true"></i><span>{{ 'UPLOAD_ICON' | translate}}</span>
                                    <input type="file" accept="image/png" id="icon-upload" style="margin-top:8px" />
                                </button>
                            </div>
                            <div class="col-xs-1 grey-border">
                                <img id="iconImage" />
                            </div>
                            <div class="col-sm-6">
                                <div class="row no-margin">
                                    <div class="col-sm-6 form-group">
                                        <label for="iconHeight">{{'ICON_HEIGHT' | translate}}</label>
                                        <input type="number" min="0" max="320" name="iconHeight" data-ng-model="vm.featureType.style['iconHeight']" class="form-control"
                                            ng-disabled="vm.featureType.style['drawingMode'] != 'Point'">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="iconWeight">{{'ICON_WIDTH' | translate}}</label>
                                        <input type="number" name="iconWidth" data-ng-model="vm.featureType.style['iconWidth']" min="0" class="form-control" ng-disabled="vm.featureType.style['drawingMode'] != 'Point'">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>{{'FILL_COLOR' | translate}}</label>
                                <spectrum-colorpicker data-ng-model="vm.featureType.style['fillColor']" options="{ cancelText: 'Cancel', chooseText: 'OK', preferredFormat: 'hex' }"></spectrum-colorpicker>
                            </div>
                            <div class="col-md-2">
                                <label>{{'STROKE_COLOR' | translate}}</label>
                                <spectrum-colorpicker data-ng-model="vm.featureType.style['strokeColor']" options="{cancelText: 'Cancel', chooseText: 'OK', preferredFormat: 'hex'}"></spectrum-colorpicker>
                            </div>
                            <div class="col-md-2">
                                <label>{{'SELECTED_STROKE_COLOR' | translate}}</label>
                                <spectrum-colorpicker data-ng-model="vm.featureType.style['selectedStrokeColor']" options="{cancelText: 'Cancel', chooseText: 'OK', preferredFormat: 'hex'}"></spectrum-colorpicker>
                            </div>
                            <div class="col-md-3">
                                <label>{{'STROKE_WIDTH' | translate}}</label>
                                <input type="number" name="strokeWidth" min="0" max="32" data-ng-model="vm.featureType.style['strokeWidth']" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>{{'SELECTED_STROKE_WIDTH' | translate}}</label>
                                <input type="number" name="selStrokeWidth" min="0" max="32" data-ng-model="vm.featureType.style['selectedStrokeWidth']" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>{{'CORNER_RADIUS' | translate}}</label>
                                <input type="number" name="cornerRadius" data-ng-model="vm.featureType.style['cornerRadius']" class="form-control" ng-disabled="vm.featureType.style['drawingMode'] != 'Point'">
                            </div>
                            <div class="col-sm-6">
                                <label>{{'OPACITY' | translate}}</label>
                                <input type="number" step="0.01" min="0" max="1" name="opacity" ng-change="vm.featureType.style['fillOpacity']=vm.featureType.style['opacity']"
                                    data-ng-model="vm.featureType.style['opacity']" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="clustering">{{'CLUSTERING' | translate}}</label>
                                <input type="checkbox" id="clustering" data-ng-model="vm.clusterOptions.clustering" class="checkbox-primary" ng-disabled="vm.featureType.style['drawingMode'] != 'Point'">
                            </div>
                            <div class="col-sm-6">
                                <label for="clusterLevel">{{'CLUSTER_LEVEL' | translate}}</label>
                                <input type="number" id="clusterLevel" data-ng-model="vm.clusterOptions.clusterLevel" min="0" max="24" class="form-control"
                                    ng-disabled="vm.featureType.style['drawingMode'] != 'Point'">
                            </div>
                        </div>
                        <button class="btn btn-primary" data-ng-click="currentStep = 3">{{'NEXT' | translate}}</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h4>{{'STYLE_PREVIEW' | translate}}</h4>
                    <label>{{'CURRENT_ZOOM' | translate}}: {{currentZoom}}</label>
                    <div id="previewMap"></div>
                </div>
                <div class="row no-margin" style="max-width: 400px;">
                    <div class="form-group">
                        <label for="select-preview-f-2">{{'SELECT_FEATURE_TO_PREVIEW' | translate}}</label>
                        <select class="form-control" id="select-preview-f-2" ng-options="vm.rowCollection.indexOf(row) as row[vm.featureType.style.nameLabel] for row in vm.rowCollection"
                            ng-model="vm.selectedRowIndex" ng-change="vm.selectRowIndex(vm.selectedRowIndex)"></select>
                    </div>
                </div>
            </div>
        </div>
        <!-- PROPERTY TYPES -->
        <div class="row" ng-show="currentStep === 3">
            <div ng-hide="vm.rowCollection.length > 0">{{'NO_DATA_TABLE' | translate}}</div>
            <div class="col-sm-6">
                <form id="propertySettingsForm">
                    <div class="form-group">
                        <h4>{{'PROPERTY_SETTINGS' | translate}}
                            <span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'PROPERTY_SETTINGS_HELP' | translate}}"></i></span>
                        </h4>
                    </div>
                    <div class="form-group">
                        <label for="p-title">{{'PROPERTY_TITLE' | translate}}</label>
                        <input type="text" data-ng-model="vm.pType.title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="p-description">{{'PROPERTY_DESCRIPTION' | translate}}</label>
                        <input type="text" id="p-description" data-ng-model="vm.pType.description" data-ng-change="vm.updatePropertyPreview()" class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label for="p-type">{{'PROPERTY_TYPE' | translate}}</label>
                        <select data-ng-model="vm.pType.type" id="p-type" ng-options="name for (name, type) in propertyTypeTypes" class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label for="p-sf">{{'STRINGFORMAT' | translate}}</label>
                        <select data-ng-model="vm.pType.stringFormat" id="p-sf" ng-options="name for (name, type) in stringFormats" class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-9 no-padding">
                                <label for="p-section">{{'SECTION' | translate}}</label>
                                <select data-ng-model="vm.pType.section" id="p-section" ng-options="section for (section, id) in vm.sections" class="form-control"
                                />
                            </div>
                            <div class="col-xs-3 no-padding">
                                <label for="p-add">{{'NEW' | translate}}</label>
                                <button type="button" id="p-add" ng-click="vm.toggleAddSectionWindow()" class="btn btn-primary form-control"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="row" id="addSectionDiv" ng-init="addSectionMode = false" ng-show="addSectionMode">
                            <div class="col-xs-10 col-xs-offset-2 no-padding">
                                <div class="input-group"><input type="text" id="new-section-input" placeholder="Add new section" ng-model="newSection"
                                        class="form-control" ng-keyup="$event.keyCode == 13 && vm.addSection(newSection)" autofocus>
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" ng-click="vm.addSection(newSection)">{{'ADD' | translate}}</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 no-padding">
                                <label for="p-callout">{{'VISIBLE_IN_CALLOUT' | translate}}</label>
                                <input type="checkbox" data-ng-model="vm.pType.visibleInCallOut" id="p-callout" />
                            </div>
                            <div class="col-xs-6 no-padding">
                                <label for="p-tooltip">{{'VISIBLE_IN_TOOLTIP' | translate}}</label>
                                <input type="checkbox" data-ng-model="vm.pType.visibleInTooltip" id="p-tooltip" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 no-padding">
                                <label for="p-min">{{'STATS.MIN' | translate}}</label>
                                <input type="number" data-ng-model="vm.pType.min" id="p-min" />
                            </div>
                            <div class="col-xs-6 no-padding">
                                <label for="p-max">{{'STATS.MAX' | translate}}</label>
                                <input type="number" data-ng-model="vm.pType.max" id="p-mimaxn" />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" data-ng-click="currentStep = 4">{{'NEXT' | translate}}</button>
                </form>
            </div>
            <div class="col-sm-4 text-center">
                <rightpanelpreview style="text-align: left;"></rightpanelpreview>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="select-preview-f">{{'SELECT_FEATURE_TO_PREVIEW' | translate}}</label>
                    <select class="form-control" id="select-preview-f" ng-options="vm.rowCollection.indexOf(row) as row[vm.featureType.style.nameLabel] for row in vm.rowCollection"
                        ng-model="vm.selectedRowIndex" ng-change="vm.selectRowIndex(vm.selectedRowIndex)"></select>
                </div>
            </div>
        </div>
        <!-- Layer settings -->
        <div class="row" ng-show="currentStep === 4">
            <div class="col-sm-6">
                <h5>{{'LAYER_SETTINGS' | translate}}<span><i class="fa fa-question-circle pointer" style="padding-left: 12px;" aria-hidden="true" uib-tooltip="{{'LAYER_SETTINGS_HELP' | translate}}"></i></span></h5>
                <form>
                    <div class="form-group">
                        <label for="l-title">{{'LAYER_TITLE' | translate}}</label>
                        <input type="text" id="l-title" data-ng-model="layer.title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="l-group">{{'GROUP' | translate}}</label>
                        <select class="form-control" id="l-group" ng-options="id for (id, title) in vm.project.groups" ng-model="vm.selectedGroup"
                        />
                    </div>
                </form>
            </div>
            <div class="col-sm-6">LAYER MENU PREVIEW
                <div class="leftpanel-border">
                    <div data-ng-repeat="group in vm.project.groups" style="margin-left: 5px;position:relative;cursor:pointer">
                        <div id="layergroupStyle" style="float: left; margin-left: 10px; margin-top: 5px;margin-right:5px;cursor:pointer" data-toggle="collapse"
                            data-target="#layergroup_{{group.id}}"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
                        <div uib-popover="{{(group.description) ? group.description : ''}}" popover-placement="right" popover-width="400" popover-trigger="'mouseenter'"
                            popover-append-to-body="true" class="group-title">{{group.title}}</div>
                        <div id="layergroup_{{group.id}}" class="collapse in">
                            <div ng-class="{false : '', true:'layer-more'}[layer._gui.more==true]" uib-popover="{{(layer.description) ? layer.description : ''}}"
                                popover-append-to-body="true" popover-placement="right" popover-trigger="'mouseenter'" data-ng-repeat="layer in group.layers">
                                <div class="layer" style="list-style-type: none;" data-ng-class="{indent: layer.isSublayer}">
                                    <div ng-class="{false : 'checkbox checkbox-primary', true:'radio radio-primary'}[group.oneLayerActive==true]" style="margin-top: 0px;margin-bottom: 0px;">
                                        <input ng-if="!group.oneLayerActive" type="checkbox" id="cblayer{{layer.id}}" ng-checked="layer.enabled">
                                        <input ng-if="group.oneLayerActive" type="radio" ng-value="true" id="cblayer{{layer.id}}" ng-checked="layer.enabled">
                                        <label class="layer-list-title" for="cblayer{{layer.id}}">{{layer.title}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="widget-footer-spacing"></div>-->
    </div>
</div>